<div class="content" id="content_home"  ng-controller="RecipeController">
    <h1 class="page-title">Bienvenue sur NgCooking !</h1>
    <section class="section">
        <h2 class="title">~ Meilleures recettes ~</h2>
        <div class="recettes row" ng-init="limit = 3">
            <div class="col-xs-6 col-sm-3 recette" ng-repeat="r in Recipes | orderBy:'-AverageRate' ">
                <a href="./Detail/{{r.IdRecipe}}">
                    <img src="{{r.UrlRecipePicture}}" alt="{{r.Name}}">
                    <div class="top" title="note : {{r.AverageRate}}/5">


                        <span class="note">
                            <star-rating rating-value="{{r.AverageRate}}" readonly="isReadonly"></star-rating>
                        </span>
                    </div>
                    <div class="bot">
                        <p class="name">{{r.Name}}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section newrecette">
        <div class="row">
            <div class="col-xs-12">
                <p class="c">Vous en avez sous la toque ?!</p>
                <p class="b">
                    <a href="/Recipe/New" class="btn btn_color1"><span class="glyphicon glyphicon-plus-sign"></span><span>Créez une nouvelle recette</span></a>
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <h2 class="title">~ Nouvelles recettes ~</h2>
        <div class="recettes row">
            <div class="col-xs-6 col-sm-3 recette" ng-repeat="r in Recipes | orderBy:'-CreationDate' ">
                <a href="./Detail/{{r.IdRecipe}}">
                    <img src="{{r.UrlRecipePicture}}" alt="{{r.Name}}">
                    <div class="top" title="note : {{r.AverageRate}}/5">
                        <span class="note">
                            <star-rating rating-value="{{r.AverageRate}}" readonly="isReadonly"></star-rating>
                        </span>
                    </div>
                    <div class="bot">
                        <p class="name">{{r.Name}}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
